/* WRITTEN TO AVOID BAD FORMATTING BY SAFARI ON MOBILE */
/* @media screen and (-webkit-pixel-density:0) { */
/*::i-block-chrome,*/.top {
	width:100%;
}
/*::i-block-chrome,*/.bottom {
	width:100%;
}

/*::i-block-chrome,*/html,/* ::i-block-chrome,*/body {
    max-width: 100% !important;
    min-width:1212px;
    width:100%;
}
/*::i-block-chrome,*/.h {
	font-size:100px;text-align:left;margin-right:30px;margin-top:calc(55% - 64px);
}
/*::i-block-chrome,*/.n {
	margin-top:calc(2%);
	margin-bottom:calc(70% - 54px);
	margin-left:18px;
	font-size:100px;
	text-align:left;
	line-height:140px;
}
/*::i-block-chrome,*/.shift {
	font-size:50px;
	text-align:left;
	margin-left:20px;
	margin-top:10px;
	margin-bottom:calc(13% - 7px);
}
/*}*/
@media only screen and (max-width: 1212px) {
	.ncon { left:10px};
        #header { font-size: 85px;height:425px; }
	#position { font-size:13px; }
	.bio { font-size: 9px; }
    }
@media only screen and (min-width: 1213px) {
	.ncon { left:10px};
	#header { font-size: 7vw;height:35.5vw; }
	#position { font-size: 1.1vw; }
	.bio { font-size: .7vw; }
	#officers { margin-top:35.9vw; }
		
    }
